<div class="welcome-banner">
  <h1 class="text-center"><span id="banner-typed-text"></span><br>The best cocktails in the world</h1>
</div>

<div class="cocktail-cards">

  <% @cocktails.each do |cocktail| %>

    <div class="cocktail-card">

      <% if cocktail.photo.attached? %>
          <%= cl_image_tag(cocktail.photo.key, height: 300, width: 400, crop: :fill) %>
      <% else %>
        <%= cl_image_tag("standard_xsvire.jpg", crop: :fill) %>
      <% end %>

      <div class="card-info">
        <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
        <p><%= link_to 'Add a Dose', new_cocktail_dose_path(cocktail) %></p>
        <p><%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %></p>
      </div>

    </div>

  <% end %>
</div>

