
<div class="cocktail-show">
  <div class="banner-show">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= cl_image_tag("i6xqlkiez2lvqeisqhsq.jpg") %>
    <% end %>
  </div>


  <div class="show-body">

    <div class="show-title">

      <h1><%= @cocktail.name %></h1>

    </div>

    <div>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <% ingredient = Ingredient.find(dose.ingredient_id) %>
            <%= ingredient.name %>
            <%= dose.description %>
            <%= link_to 'Delete dose', cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
      <p class="card-text"><%= link_to 'Add a Dose', new_cocktail_dose_path(@cocktail) %></p>
      <p class="card-text"><%= link_to 'Modify cocktail', edit_cocktail_path(@cocktail) %></p>
    </div>

  <%= link_to 'Back to the bar', cocktails_path %>
  </div>

</div>
